body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.link {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-weight: bold;
}
